<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">Problème d'autorisation</div>
			<div class="panel-body">
				<div class="text-danger">
					vous n'avez pas le droit d'accèder à cette ressource
				</div>
			</div>
	</div>
	</div>			
	</div>
</body>
</html>